.container {
  margin:0 auto;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #4F4F4F;
}

/*basic*/
.basic{
  border-bottom: 3px dashed #cccccc;
  text-align: center;
  height:50vh;
}
.avatar-image{
  height: 300px;
  width: 300px;
  filter: grayscale(30%);
  border-radius: 50%;
  border: 1px solid #cccccc;
}
.profile-name h1{
  font-size: 60px;
  letter-spacing: 1px;
}
.profile-title h2{
  font-size: 48px;
  letter-spacing: 1px;
}
.profile-description p{
  font-size: 31px;
  letter-spacing: 1px;
}

/*social*/
.social{
  border-bottom: 3px dashed #cccccc;
  text-align: center;
}
.list-inline {
  margin: 0;
}
.list-inline > li {
  display: inline-block;
}
.social-icon > a {
  font-size: 70px;
  color: #dedddd;
  a:hover {
    color: #EE2B47;
  }
}

