/*================*/
/*====FONT CONTROL*/
/*================*/

.container {
  font-family: 'Roboto', sans-serif;
  color: #4F4F4F;
}
.container h1,
.container h2,
.container h3,
.container p {
  margin: 0;
}

.container h1 {
  font-size: 60px;
}
.container h2 {
  font-size: 45px;
}
.container h3 {
  font-size: 35px;
}
.container p {
  font-size: 30px;
}

/*================*/
/*==========HEADER*/
/*================*/

.header {
  height: 55vh;
  border-bottom: 3px dashed #cccccc;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.avatar {
  margin: 50px;
}
.avatar-image {
  height: 300px;
  width: 300px;
  opacity: 0.8;
  border-radius: 50%;
  border: 1px solid #cccccc;
}
.profile-name h1,
.profile-title h2,
.profile-description p {
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.profile-description p {
  letter-spacing: 1px;
}
#btn-hire {
  padding: 10px 50px;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 2px;
  background-color: #EB5757;
  margin: 30px;
}

/*================*/
/*==========SOCIAL*/
/*================*/

.social {
  height: 10vh;
  border-bottom: 3px dashed #cccccc;
  text-align: center;
}
.list-inline > li {
  display: inline-block;
  margin: 25px 50px;
}
.social-icon > a {
  font-size: 80px;
  color: #dedddd;
}
.social-icon > a:hover {
  color: #EB5757;
}

/*================*/
/*=======PORTFOLIO*/
/*================*/

.portfolio {
  height: 35vh;
}
.section-title h2 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
.portfolio-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.portfolio-subbody {
  display: flex;
  justify-content: space-around;
}
.portfolio-icon > a {
  font-size: 160px;
  color: #dedddd;
}
.portfolio-icon > a:hover {
  color: #EB5757;
}
.portfolio-part2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portfolio-link p {
  color: #EB5757;
}
.portfolio-link > a:hover {
  color: #EB5757;
}
